html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  height: 81px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 100;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  height: 41.29px;
  padding: 16.35px 10px 23.35px 0;
  background-color: transparent;
}

.header__text-title {
  color: #DB004F;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-transform: capitalize;
  margin-top: 24px;
}

.header__text-paragraph {
  color: #132146;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 25px;
}

.header__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.catalog {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.catalog__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__column-title {
  padding-top: 220px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.catalog__column-paragraph {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.catalog__link {
  text-decoration: none;
  margin-bottom: 139px;
}

.catalog__btn {
  background-color: #DB004F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  font-size: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 60px;
}

.action {
  margin-top: 100px;
}

.action__title {
  margin: 0 0 50px 0;
  color: #132146;
  font-weight: 900;
  font-size: 25px;
  line-height: 200%;
}

.action__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.action__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

.action__item {
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.action__menu {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0px 0px 1px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__menu-text {
  font-size: 20px;
  line-height: 120%;
  color: #132146;
  padding: 20px 23px 20px 23px;
}

.action__menu-link {
  padding: 42px 25px 42px 0px;
}

.action__menu-link img {
  width: 26px;
}

.item-1 {
  background-image: url(../img/action1.jpg);
}

.item-2 {
  background-image: url(../img/action2.jpg);
}

.item-3 {
  background-image: url(../img/action3.jpg);
}

.advantages {
  margin: 165px 0;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin-bottom: 10px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__img {
  width: 70px;
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__inner-title {
  color: #132146;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

.advantages__inner-text {
  color: #132146;
  font-size: 13px;
  line-height: 120%;
  text-align: center;
}

.footer {
  background-image: url(../img/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer__row {
  padding-top: 117px;
  padding-bottom: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
}

.footer__logo img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.footer__logo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

.footer__logo-title {
  color: #DB004F;
  font-size: 13px;
  line-height: 16px;
}

.footer__logo-paragraph {
  font-size: 11px;
  line-height: 13px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 17px;
}

.icon-footer-arrow {
  font-size: 27px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 737px;
  }
  .action__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .action__item {
    width: 737px;
    height: 111px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 35px;
  }
  .action__menu {
    width: 370px;
    height: 111px;
  }
  .action__menu-link {
    color: red;
    padding: 0 25px 0 0;
  }
  .item-2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .advantages {
    margin: 145px 100px;
  }
  .advantages__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .advantages__item {
    margin-bottom: 50px;
  }
  .advantages__img {
    margin-bottom: 20px;
  }
  .footer__logo {
    visibility: visible;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 290px;
  }
  .catalog__column-title {
    padding-top: 122px;
    font-size: 24px;
  }
  .catalog__column-paragraph {
    font-size: 12px;
  }
  .catalog__link {
    margin-bottom: 123px;
  }
  .action {
    margin-top: 70px;
  }
  .action__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .action__title {
    margin-bottom: 60px;
    font-size: 22px;
  }
  .action__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .action__item {
    width: 290px;
    height: 222px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .action__menu-text {
    font-size: 16px;
  }
  .advantages {
    margin: 100px 15px;
  }
  .advantages__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__inner {
    margin-left: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__inner-title {
    font-size: 20px;
    text-align: left;
  }
  .advantages__inner-text {
    font-size: 12px;
    text-align: left;
  }
  .footer__logo {
    visibility: visible;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__logo {
    padding-top: 86px;
    padding-bottom: 95px;
  }
  .footer__copyright {
    padding-bottom: 95px;
  }
}
